#name {
  color: #9b59b6;
}

h1 {
  margin-bottom: 20px;
}

body {
  background-color: lavender;
}

.portfolio-card {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.card-img-top {
  width: 400px;
  height: 350px;
  padding: 5px;
}

.about-me {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.card-body,
.card {
  background-color: #f5f6fa;
}

button:hover {
  outline-color: lightcyan;
}

.btn:hover {
  background-color: #f1c40f;
  border-color: white;
}

.about-me-txt {
  text-indent: 40px;
}

footer {
   left: 0;
   bottom: 0;
   width: 100%;
}

.btn{
  margin: 3px;
}
