#name {
  color: #9b59b6;
}

h1 {
  margin-top: 15px;
  margin-bottom: 20px;
}

body {
  background-color: lavender;
}

.img-thumbnail {
  padding: 0px;
}

.card-text {
  word-wrap: break-word !important;
}

.card-img {
  padding: 20px;
}

.card {
  margin-top: 40px;
  margin-left: 50px;
}

.card-body,
.card {
  background-color: #f5f6fa;
}

button:hover {
  outline-color: lightcyan;
}

.btn:hover {
  background-color: #f1c40f !important;
  border-color: white;
}
